env                       = "staging"
apiland_auth_token        = "123456789"
aws_backup_region         = "eu-central-1"
aws_default_region        = "us-east-1"
docker_tag                = "latest"
github_token              = "xxxxxxxxxxxxxxxxxxxxxxxxxx"
mongodb_atlas_org_id      = "a0b1c2d3e4f5a0b1c2d3e4f5"
mongodb_atlas_private_key = "abcd0123-0abc-1def-2233-01234567890a"
mongodb_atlas_public_key  = "wwxxyyzz"