env                       = "staging"
apiland_auth_token        = "123456789"
aws_backup_region         = "eu-central-1"
aws_default_region        = "us-east-1"
docker_tag                = "latest"
github_token              = "xxxxxxxxxxxxxxxxxxxxxxxxxx"
google_private_key        = "xxxxxxxxxxxxxxxxxxxxxxxxxx"
google_private_key_id     = "eec20ed25e08ac2ff98125cc7bfefa101be1158d"
google_client_email       = "foo@example.com"
google_project_id         = "deno_registry2"
