env                   = "staging"
region                = "us-east-1"
mongodb_uri           = "mongodb+srv://<user>:<password>@<cluster>.<id>.mongodb.net/?retryWrites=true&w=majority"
domain                = "api.myregistry.com"
certificate_arn       = "arn:aws:acm:<region>:<id>:certificate/<certificate_id>"
cloudflare_account_id = "xxxxxxxxxxxxxxxxxxxxxxxxxx"
cloudflare_zone_id    = "xxxxxxxxxxxxxxxxxxxxxxxxxx"
