name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      AWS_DEFAULT_REGION: us-east-1
    steps:
      - name: Setup Deno environment
        uses: denolib/setup-deno@v1.3.0
        with:
          deno-version: v1.2.0

      - uses: actions/checkout@v2

      - name: Format
        run: deno fmt --check

      - name: Lint
        run: deno lint --unstable

      - name: Start mongoDB
        uses: wbari/start-mongoDB@v0.2
        with:
          mongoDBVersion: 4.2

      - name: Test
        run: deno test -A --unstable

      - name: Compile API endpoints
        run: |
          deno cache --unstable --importmap ./import_map.json ./api/async/publish.ts
          deno cache --unstable --importmap ./import_map.json ./api/builds/get.ts
          deno cache --unstable --importmap ./import_map.json ./api/modules/list.ts
          deno cache --unstable --importmap ./import_map.json ./api/webhook/github.ts

      - name: Build
        run: sam build
        if: github.ref == 'refs/heads/main'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Deploy AWS (production)
        if: github.ref == 'refs/heads/main'
        run: sam deploy --stack-name deno-registry-prod --s3-bucket deno-cloudformation-us-east1 --s3-prefix deno-registry-prod --capabilities CAPABILITY_AUTO_EXPAND CAPABILITY_IAM --no-confirm-changeset --no-fail-on-empty-changeset
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Deploy CF Worker (production)
        if: github.ref == 'refs/heads/main'
        uses: cloudflare/wrangler-action@1.2.0
        with:
          environment: "production"
          apiToken: ${{ secrets.cloudflareToken }}
          workingDirectory: worker
